<!DOCTYPE html>
<html>
<head>
  <title>Book</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= image_tag("rails.png") %>Railbook</h1>
<ul>
  <li><%= link_to "書籍一覧", boooks_path %></li>
  <li><%= link_to "出版社一覧", publishes_path %></li>
  <li><%= link_to "評判一覧", reviews_path %></li>
  <li><%= link_to "ユーザ一覧", users_path %></li>
</ul>
<% if @usr != nil %>
  <div align="right">
    ログインユーザー：<%= @usr.username %> | <%= link_to "ログアウト", login_path(:id), method: :delete, data: {confirm: "ログアウトしますか？"} %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
